* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    color: #363636;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d8d8d8;
}

button {
    border: 2px solid #ff6969;
    border-radius: 5px;
    padding: 2px;
    color: #ff6969;
    background-color: hsl(0, 100%, 94%);
    cursor: pointer;

}

.intro {
    color: #ff6969;
    -webkit-text-stroke: 0.3px #800000;
}

.buttons {
    display: flex;
    gap: 60px;
}

.option {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.scores {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 8px;
}

.human_score,
.computer_score {
    border: 1.5px solid #363636;
    padding: 0.1px 1px;
    border-radius: 2px;
}