* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d8d8d8;
}

button {
    border: 2px solid #ff6969;
    border-radius: 5px;
    padding: 2px;
    color: #ff6969;
    background-color: hsl(0, 100%, 94%);
    cursor: pointer;

}

.intro {
    color: #ff6969;
    -webkit-text-stroke: 0.3px #800000;
}